@use "config";


.container-about {
  display: grid;
  grid-template-areas:
    "topbar photo"
    "lang photo"
    "skills skills"
    "file file"
    "footer footer";
  grid-template-columns: 1fr 30%;
  position: relative;

  @include config.medium {
    grid-template-areas:
      "photo"
      "topbar"
      "lang"
      "skills"
      "file"
      "footer";
    grid-template-columns: 1fr;
  }

  // tobar is in a separate scss


  .row-skills {
    grid-area: skills;
    padding-left: 10px;
    text-align: center;

    .headLang {
      color: config.$background-color;
      font-size: 3rem;
      font-weight: 500;
      display: block;
      background-color: config.$primary-color;
      height: 100%;

      padding: 80px 0;
      text-align: center;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      letter-spacing: 0.15em;

      &:before {
        content: attr(data-text);
        position: absolute;
        transform-origin: bottom;
        transform: rotateX(180deg);
        perspective: 200px;
        line-height: 1.1;
        background: linear-gradient(0deg, config.$background-color 0, transparent 90%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        opacity: 0.5;
      }

      @include config.medium {
        display: none;
      }
    }

    .headHided {
      display: none;

      @include config.medium {
        display: block;
        margin-bottom: 2em;
        background-color: #e9ecef;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 12px;
        width: 100%;
      }
    }

    .icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      padding-left: 2em;

      @include config.small {
        grid-template-columns: 1fr;
      }


      h4 {
        margin-bottom: 2rem;
      }

      .card-deck.coding {
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        p {
          font-size: smaller;
        }

        @include config.small {
          grid-template-columns: repeat(2, 1fr);
        }

      }

      .card-deck.design {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        p {
          font-size: smaller;
        }

        @include config.small {
          grid-template-columns: 1fr;
        }
      }

      .card {
        align-items: center;
        border: none;
        color: config.$header-color;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em;
        background-color: inherit;

        svg {
          display: block;
          font-size: 3.1rem;
          color: config.$primary-color;

          @include config.small {
            font-size: 2rem;
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  .history {
    grid-area: file;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 1rem;

    @include config.medium {
      grid-area: file;
      display: grid;
      grid-template-columns: 1fr;
    }

    button {
      letter-spacing: 5px !important;
      margin-bottom: 2rem;
    }

    ul {
      line-height: 1rem;
      list-style: none;
      margin: 0;
      width: 100%;
      padding-left: 2%;

      @include config.medium {
        padding-left: 4%;
        padding-right: 5%;
      }

      li {
        padding-left: 40px;
        position: relative;

        &:last-child {
          padding-bottom: 0;
        }

        .timelineInfo {
          margin: 0 0 0.5em 0;
          white-space: nowrap;

          span {
            padding-left: 10px;
          }
        }

        .timelineMarker {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 15px;

          &:before {
            background-color: config.$contrast-color;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px;
            left: 0;
            width: 15px;
            transition: background-color 0.3s ease-in-out,
              border 0.3s ease-in-out;
          }

          &:after {
            content: "";
            width: 3px;
            background: #ccd5db;
            display: block;
            position: absolute;
            top: 24px;
            bottom: 0;
            left: 6px;
          }

          &:last-child:after {
            content: none;
          }
        }

        .timelineContent {
          padding-bottom: 20px;
        
          @include config.medium {
            h5{
              font-size: 16px;
            }
          }

          p.timelineTitle {
            color: config.$header-color;

            &:last-child {
              margin-bottom: 0;
            }
          }

          ul {
            padding-left: 0px;
            padding-right: 6%;

            @include config.large {
              padding-left: 0px;
              padding-right: 5%;
            }

            @include config.small {
              padding-left: 0px;
              font-size: smaller;
              line-height: normal;
            }

            li {
              list-style: none;
              padding-left: 0px;
              line-height: normal;

              &:before {
                content: "";
                display: inline-block;
                background-color: config.$primary-color;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                margin-right: 12px;
                position: relative;
                top: -3px;
              }
            }
          }
        }

        &:not(.period):hover {
          .timelineMarker {
            &:before {
              background: transparent;
              border: 3px solid config.$contrast-color;
            }
          }
        }
      }
    }

    .btn-primary {
      transition: all 0.5s ease-in-out;
      background-size: auto 300%;
      background-image: linear-gradient(
        to bottom, config.$contrast-color 0%,
        #0c00b1 60%, config.$contrast-color 100%
      );

      &:focus,
      &:hover {
        background-position: bottom center;
      }
    }
  }

  .jumbotron {
    padding: 2rem 2rem;
    grid-area: footer;

    p {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 12px;
      margin-bottom: 2rem;
    }

    ul {
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding: 10px;

      @include config.medium {
        justify-content: space-between;
        flex-wrap: wrap;
      }

      li {
        list-style: none;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;

        @include config.small {
          line-height: 2;
          flex-direction: column;
        }

        span {
          padding-left: 10px;
        }

        svg {
          font-size: 3.5rem;
          color: config.$dark-color;

          @include config.medium {
            font-size: 3rem;
            padding: 0;
          }
        }
      }
    }
  }
}
