.container2 {
  display: grid;
  grid-template-areas: "topbar photo""lang photo""skills skills""file file""footer footer";
  grid-template-columns: 1fr 30%;
  position: relative;

  @include medium {
    grid-template-areas: "photo""topbar""lang""skills""file""footer";
    grid-template-columns: 1fr;
  }

  .row-skills {
    grid-area: skills;
    padding: 0;
    margin-top: 3em;
    text-align: center;


    @include large {
      padding: 5px;
    }

    .headLang {
      color: $background-color;
      font-size: 3rem;
      font-weight: 500;
      display: block;
      background-color: $primary-color;
      height: 100%;

      padding: 80px 0;
      text-align: center;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      letter-spacing: 0.15em;

      &:before {
        content: attr(data-text);
        position: absolute;
        transform-origin: bottom;
        transform: rotateX(180deg);
        perspective: 200px;
        line-height: 1.1;
        background: linear-gradient(0deg, $background-color 0, transparent 90%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        opacity: 0.5;
      }

      @include large {
        display: none;
      }
    }

    .headHided {
      display: none;

      @include large {
        display: block;
        margin-bottom: 2em;
        background-color: #e9ecef;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 12px;
        width: 100%;
      }
    }

    .icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      padding-left: 2em;

      h4 {
        margin-bottom: 2rem;
      }

      .card-deck.coding {
        justify-content: space-evenly;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 0;


        p {
          font-size: smaller
        }


        @include medium {
          grid-template-columns: repeat(2, 1fr);
        }

        @include small {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .card-deck.design {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 0;

        p {
          font-size: smaller
        }


        @include medium {
          grid-template-columns: 1fr;
        }

        @include small {
          grid-template-columns: 1fr;
        }
      }

      .card {
        align-items: center;
        border: none;
        color: $header-color;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em;
        background-color: inherit;

        svg {
          display: block;
          font-size: 3.1rem;
          color: $primary-color;

          @include small {
            font-size: 2rem;
            width: 35px;
            height: 35px;
          }
        }

        .firebaseIcon {
          height: 48px;

          @include small {
            height: 33px;
          }
        }
      }

    }
  }

  .profile {
    grid-area: file;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 1rem;

    @include medium {
      grid-area: file;
      display: grid;
      grid-template-columns: 1fr;
    }

    button {
      letter-spacing: 5px !important;
      margin-bottom: 2rem;
    }


    ul {
      line-height: 1.4em;
      list-style: none;
      margin: 0;
      width: 100%;
      padding-left: 2%;

      @include small {
        padding-left: 4%;
        padding-right: 5%;
      }

      li {
        padding-left: 40px;
        position: relative;

        &:last-child {
          padding-bottom: 0;
        }

        .timelineInfo {
          margin: 0 0 0.5em 0;
          white-space: nowrap;


          span {
            padding-left: 10px;
          }
        }

        .timelineMarker {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 15px;

          &:before {
            background-color: $contrast-color;
            border: 3px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 15px;
            position: absolute;
            top: 4px;
            left: 0;
            width: 15px;
            transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
          }

          &:after {
            content: "";
            width: 3px;
            background: #ccd5db;
            display: block;
            position: absolute;
            top: 24px;
            bottom: 0;
            left: 6px;
          }

          &:last-child:after {
            content: none;
          }
        }

        .timelineContent {
          padding-bottom: 40px;

          p.timelineTitle {
            color: $header-color;

            &:last-child {
              margin-bottom: 0;
            }
          }

          ul {
            padding-left: 0px;
            padding-right: 6%;


            @include large {
              padding-left: 0px;
              padding-right: 5%;
            }

            @include small {
              padding-left: 0px;
            }

            li {
              list-style: none;
              padding-left: 0px;

              &:before {
                content: "";
                display: inline-block;
                background-color: $primary-color;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                margin-right: 12px;
                position: relative;
                top: -3px;
              }
            }
          }
        }

        &:not(.period):hover {
          .timelineMarker {
            &:before {
              background: transparent;
              border: 3px solid $contrast-color;
            }
          }
        }
      }
    }

    .btn-primary {
      transition: all 0.5s ease-in-out;
      background-size: auto 300%;
      background-image: linear-gradient(to bottom, $contrast-color 0%, #0c00b1 60%, $contrast-color 100%);

      &:focus,
      &:hover {
        background-position: bottom center;
      }
    }
  }


  .jumbotron {
    padding: 2rem 2rem;
    grid-area: footer;

    p {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 12px;
      margin-bottom: 2rem;
    }

    ul {
      align-items: center;
      display: flex;
      justify-content: space-around;
      height: 100%;

      @include medium {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 0;
      }

      li {
        list-style: none;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;

        @include medium {
          line-height: 2.5;
          flex-direction: column;
        }

        &:hover span {
          visibility: visible;
        }

        span {
          text-align: center;

          @include easeOut();
          z-index: 1;
          visibility: hidden;
        }

        svg {
          font-size: 3.5rem;
          color: $dark-color;

          @include medium {
            font-size: 3rem;
            padding: 0;
          }
        }
      }
    }
  }
}