@use "config";
@use "navbar";
@use "intro";
@use "about";
@use "portfolio";
@use "contact";
@use "topbar";
@use "tableLang";
@use "loader";

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  line-height: 1.8;
  background-color: config.$background-color;
  color: config.$dark-color;
}

.container-fluid {
  padding: 0;
  overflow: hidden;
}
a {
  @include config.easeOut();
  color: inherit;
}

/* typography
==================================================*/

h1 {
  font-size: 3.75rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  color: config.$header-color;
}

h5 {
  color: config.$primary-color;
}

.text-uppercase {
  line-height: 2;
  margin-bottom: 30px;
}

