@use "config";

.box-intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: ". header role  .";
  place-items: center;
  height: 100vh;
  background: no-repeat center
    url("https://img.freepik.com/free-vector/line-background-wave-gradient-template-design_483537-5081.jpg?t=st=1730477880~exp=1730481480~hmac=1b6a4df027ce650e79b504832325cc17a1a5e38957b5d9c27af4de7b9debed70&w=2000");
  background-size: cover;

  @include config.small {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "."
      "header"
      "role"
      ".";

    place-items: center;
  }

  .header-table {
    grid-area: header;

    .header-me {
      font-size: 4.5rem;
      line-height: 1;
      color: config.$dark-color;
      font-weight: 700;
      display: flex;
      align-items: baseline;

      @include config.medium {
        font-size: 4rem;
      }

      @include config.small {
        font-size: 3rem;
      }

      @include config.Exsmall {
        font-size: 2rem;
      }

      .bounce {
        background-color: config.$primary-color;
        height: 15px;
        width: 15px;
        transform-origin: bottom;
        border-radius: 50%;
        transform: translateY(-70px);
      }
    }

    .surname {
      letter-spacing: 4px;
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      transform: translate(10%, -60%);
      font-weight: 600;
      color: config.$dimmed-color;
      max-width: 500px;

      @include config.medium {
        font-size: 2rem;
      }

      @include config.small {
        font-size: 1rem !important;
      }

      @include config.Exsmall {
        font-size: 0.75rem !important;
      }
    }
  }

  .role {
    grid-area: role;

    h5 {
      letter-spacing: 4px;
      color: config.$header-color;
      line-height: 26px;
      margin: 0;
      border-left: 3px solid config.$primary-color;
      padding-left: 15px;

      @include config.medium {
        letter-spacing: 3px;
        line-height: 21px;
        font-size: 16px;
      }

      @include config.small {
        line-height: 16px;
      }

      @include config.Exsmall {
        font-size: 12px;
      }
    }
  }

  .contact-info {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      color: config.$primary-color;
      line-height: 2.5rem;
      padding: 1rem;

      svg {
        height: 30px;
        width: 30px;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    @include config.small {
      flex-direction: row;
      left: 0;
      right: 0;
      justify-content: center;
    }
  }
}
