.box-intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-template-areas: ". header role  .";
  place-items: center;
  height: 100vh;
  background: no-repeat center
    url("https://img.freepik.com/free-photo/white-concrete-textured-background_53876-139903.jpg?t=st=1730132501~exp=1730136101~hmac=b1ae16a1f533b6de2f2631d0523cb82523edfe8658c756f93a5ca3b0356da811&w=1380");
  background-size: cover;

  @include small {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "."
      "header"
      "role"
      ".";

    place-items: center;
  }

  .header-table {
    grid-area: header;

    .header-me {
      font-size: 4.5rem;
      line-height: 1;
      color: $dark-color;
      font-weight: 700;
      display: flex;
      align-items: baseline;

      @include medium {
        font-size: 4rem;
      }

      @include small {
        font-size: 3rem;
      }

      @include Exsmall {
        font-size: 2rem;
      }

      .bounce {
        background-color: $primary-color;
        height: 15px;
        width: 15px;
        transform-origin: bottom;
        border-radius: 50%;
        transform: translateY(-70px);
      }
    }

    .surname {
      letter-spacing: 4px;
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0;
      position: absolute;
      transform: translate(10%, -60%);
      font-weight: 600;
      color: $dimmed-color;
      max-width: 500px;

      @include medium {
        font-size: 2rem;
      }

      @include small {
        font-size: 1rem !important;
      }

      @include Exsmall {
        font-size: 0.75rem !important;
      }
    }
  }

  .role {
    grid-area: role;

    h5 {
      letter-spacing: 4px;
      color: $header-color;
      line-height: 26px;
      margin: 0;
      border-left: 3px solid $primary-color;
      padding-left: 15px;

      @include medium {
        letter-spacing: 3px;
        line-height: 21px;
        font-size: 16px;
      }

      @include small {
        line-height: 16px;
      }

      @include Exsmall {
        font-size: 12px;
      }
    }
  }

  .contact-info {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      color: $primary-color;
      line-height: 2.5rem;
      padding: 1rem;

      svg {
        height: 30px;
        width: 30px;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.5);
        }
      }
    }

    @include small {
      flex-direction: row;
      left: 0;
      right: 0;
      justify-content: center;
    }
  }
}
