.navbar {
  display: grid;
  justify-content: end;
  justify-items: end;
  position: fixed;
  z-index: 3;
  right: 0;

  .navbar-toggler {
    display: none;
    margin-bottom: 0;

    @include medium {
      display: block;
      margin-right: 0.25em;

      &-icon {
        background-image: url(../components/Menu/controls.svg);
      }
    }
  }

  @include medium {
    .navbar-collapse {
      background-color: #ffffffba;
      box-shadow: -1px 4px 7px 0px #adb5bd;
    }
  }

  ul {
    text-align: right;
    padding-top: 0.5rem;
    padding-left: 0;
    transition-duration: 0.4s;
    list-style: none;

    li {
      font-size: 1rem;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0.2em 0;
      text-transform: capitalize;
      list-style-type: none;
      padding-left: 0;

      a {
        display: inline-block;
        padding: 0.4em 1em;
        border-radius: 0.25em;
        @include easeOut();
        color: $dark-color;
        text-decoration: none;
        font-weight: 200;

        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $primary-color;
          @include easeOut();
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}
