.inner {
  width: 100%;
  height: 100%;
  padding-left: 9%;
  padding-right: 9%;

  .title {
    a {
      color: $contrast-color;

      svg {
        margin-right: 5px;
      }
    }

    p {
      width: 80%;

      @include medium {
        width: 100%;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em 2em;

    .buttons-container {
      padding: 2rem 0;
      display: inline-flex;
      text-align: left;
      font-size: 1.35em;

      label {
        display: block;
      }
    }

    .card {
      width: 17.5rem;
      height: 22.5rem;
      border-radius: 15px;
      padding: 1.5rem;
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: end;
      align-items: flex-end;
      -webkit-transition: 0.4s ease-out;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: 2em;


      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: hsla(0, 0%, 0%, 0.9);
        z-index: 2;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        opacity: 0;
      }



      .frame {
        position: absolute;
        background-color: white;
        box-shadow: 4px 3px 20px 2px #004085;
        width: 50px;
        height: 50px;
        left: 16px;
        top: 10px;
        border-radius: 50%;
        z-index: 1;

        svg {
          position: relative;
          left: 9px;
          top: 9px;
          font-size: 33px;
          z-index: 1;
          color: $contrast-color;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
      }

      .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        width: 100%;
        margin: auto;

        h5 {
          margin: 0px;
        }

        ul {
          letter-spacing: 1px;
          font-size: 15px;
          margin-top: 8px;
        }

        .btn {
          margin-right: 1em;
          margin-top: 0.5rem;
          padding: 0 1em;

          &:hover {
            color: white;
          }
        }

        a {
          outline: none;
          border: none;
          border-radius: 3px;
          color: black;
          font-weight: bold;
          cursor: pointer;
          -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
        }
      }


    }

    .card:hover {
      // -webkit-transform: translateY(20px);
      // transform: translateY(20px);
    }

    .card:hover:before {
      opacity: 1;
    }

    .card:hover .info {
      opacity: 1;
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
  }
}