@use "config";

.topbar {
  grid-area: topbar;
  padding-left: 10%;
  padding-right: 10%;

  .aboutme {
    a {
      color: config.$contrast-color;

      svg {
        font-size: 0.6rem;
      }
    }

    @include config.small {
      p {
        font-size: smaller;
      }
    }

    .countup {
      .timeel {
        display: inline-block;
        padding: 10px;
        background: config.$header-color;
        margin: 0;
        color: white;
        min-width: 2.6rem;
        border-radius: 10px 0 0 10px;
        text-align: center;
      }
      .timeRef {
        border-radius: 0 10px 10px 0;
        background: config.$primary-color;
        color: config.$dark-color;
        margin-right: 3%;

        @include config.rwd(320) {
          margin-right: 42%;
          margin-top: 3%;
        }
      }
    }
  }
}

.rectangle {
  grid-area: photo;
  width: 100%;
  padding: 0px;
  background-color: config.$primary-color;
  height: 100%;

  .photo {
    width: 40%;
    border-radius: 50%;
    z-index: 99;
    box-shadow: 1px 1px 0px 9px config.$background-color;
    margin-top: 8em;
    margin-left: -4em;

    @include config.medium {
      width: 20%;
      margin-top: 1em;
      margin-left: 2em;
    }
  }
}

/*            Header  
==================================================*/

.header {
  margin-top: 4em;

  @include config.small {
    margin-top: 5em;
  }

  a {
    color: config.$primary-color;
  }
  h1 {
    text-transform: uppercase;
    font-weight: 700;

    @include config.small {
      font-size: 2.5rem;
    }
  }
}

