.rectangle {
    grid-area: photo;
    width: 100%;
    padding: 0px;
    background-color: #ffbf00;
    height: 100%;
}

.photo {
    width: 50%;
    border-radius: 50%;
    z-index: 99;
    box-shadow: 1px 1px 0px 9px white;
    margin-top: 8em;
    margin-left: -4em;
}

.topbar {
    grid-area: topbar;
    padding-left: 14%;
    padding-right: 14%;
}

.countup .timeel {
    display: inline-block;
    padding: 10px;
    background: #999;
    margin: 0;
    color: white;
    min-width: 2.6rem;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.countup .timeRef {
    border-radius: 0 10px 10px 0;
    background: #fcc100;
    color: #393939;
    margin-right: 3%;
}

/*            Header  
==================================================*/

.header {
    margin-top: 6em;
}

.header a {
    color: #ffbf00;
}

.header h1 {
    text-transform: uppercase;
    font-weight: 700;
}

/*            Table  
==================================================*/

.bodyLang {
    grid-area: lang;
    padding-left: 14%;
}

.headLang {
    display: block;
    color: #fcc100;
    font-size: 1.5rem;
    margin-top: 2em;
}

.tableLang {
    width: 48%;
    line-height: 10px;
}

.tableLang span {
    display: flex;
    flex-wrap: wrap;
}

.tableLang svg {
    font-size: 10px;
    margin-right: 5px;
    color: #dee2e6;
}

/* Responsive media queries
==================================================*/

@media only screen and (max-width: 321px) {
    .countup .timeRef {
        margin-right: 42%;
        margin-top: 3%;
    }
}

@media only screen and (max-width: 420px) {
    .header{
        margin-top: 5em;
    }
    .header h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 574px) {
    .topbar {
        padding-left: 9%;
        padding-right: 9%;
    }
    .rectangle {
        padding-bottom: 1em;
    }
    .photo {
        width: 33%;
        border-radius: 50%;
        z-index: 99;
        box-shadow: 1px 1px 0px 9px white;
        margin-top: 1em;
        margin-left: 2em;
    }
    .tableLang {
        width: 50%;
        margin-left: 9%;
    }
    .bodyLang {
        padding-left: 0;
    }
    .headLang {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 12px;
        width: 100%;
        background-color: #e9ecef;
        display: block;
        margin: 2em 0;
        color: #393939;
        font-size: inherit;
    }
}

@media only screen and (max-width: 767px) {
    .tableLang {
        width: 66%;
    }
   
}