.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    width: 100%;
}

/*----- TIMELINE ITEM -----*/

.timelineItem {
    padding-left: 40px;
    position: relative;
}

.timelineItem:last-child {
    padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/

.timelineInfo {
    margin: 0 0 .5em 0;
    white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/

.timelineMarker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
}

.timelineMarker:before {
    background-color: #007bff;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timelineMarker:after {
    content: "";
    width: 3px;
    background: #CCD5DB;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 6px;
}

.timelineMarker .timelineItem:last-child .timelineItem:after {
    content: none;
}

.timelineItem:not(.period):hover .timelineMarker:before {
    background: transparent;
    border: 3px solid #007bff;
}

/*----- TIMELINE CONTENT -----*/

.timelineContent {
    padding-bottom: 40px;
}

.timelineContent ul {
    padding-left: 0px;
    padding-right: 6%;
}

.timelineContent p {
    color: #999;
}

.timelineContent p:last-child {
    margin-bottom: 0;
}

.timelineContent li {
    list-style: none;
}

.timelineContent li:before {
    content: "";
    display: inline-block;
    background-color: #ffbf00;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
    top: -3px;
}

button {
     letter-spacing: 5px !important;
}

/* Responsive media queries
==================================================*/

@media only screen and (max-width: 420px) {
    .timeline {
        padding-left: 4%;
        padding-right: 5%;
    }
    .timelineContent ul {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .timelineContent ul {
        padding-left: 0px;
        padding-right: 5%;
    }
}